body * {
  max-width: 100%;
};

html {
  height: 100vh;
}

body {
  margin: 0;

  box-sizing: border-box;
  padding: 0;
  height: 100%;
  width: 100%;

  background: $back1;

  font-family: Arial, sans-serif;
  color: $text1;
  font-size: 1.2rem;
};

//position
.fixed {
  position: fixed;
};

.text-center{
  text-align: center;
};

//display
%row {
  display: flex;
  flex-direction: row;
};
.row {
  @extend %row;
  justify-content: center;
};
.center--row {
  @extend %row;
  justify-content: center;
  align-items: center;
};

%column {
  display: flex;
  flex-direction: column;
};
%center--column {
  display: flex;
  flex-direction: column;
  align-items: center;
};

%center-vertically {
  display: flex;
  align-items: center;
};
.center-vertically {
  @extend %center-vertically;
}
%center {
  @extend %center-vertically;
  flex-direction: column;
  justify-content: center;
};
.center {
  @extend %center;
};
.row--align-left {
  @extend %row;
  justify-content: flex-start;
};

//spacing
.rem-before {
  margin-left: 1rem;
};

.half-rem-before {
  margin-left: .5rem;
}
.rem-above {
  margin-top: 1rem;
};
.rem-top-bottom {
  margin: 1rem 0;
};
.rem-on-sides {
  margin: 0;
  margin: 0 1rem;
};
.half-rem-above {
  margin-top: .5rem;
}
.half-rem-below {
  margin-bottom: .5rem;
}
.top-2rem {
  margin-top: 2rem;
};
.drop-2-rem {
  margin-top: 2rem;
};
.space-before {
  margin-left: .3rem;
};
.space-after {
  margin-right: .3rem;
};

//padding
.padding-1rem {
  padding: 1rem;
};

//colors
.color-accent {
  color: $accent1;
};
.color-red {
  color: red;
};

//backgrounds
.background-blue {
  background: blue;
  color: white;
};
.background-green {
  background: green;
  color: white;
};
.background-red {
  background: red;
  color: white;
};
.background-none {
  background: white;
  border: solid 1px $accent1;
};
.background-accent {
  background: $accent1;
  color: white;
};

//borders
.border-blue {
  border: solid 1px blue;
};
.border-accent {
  border: solid 1px $accent1;
}
.border-grey {
  border: solid 1px grey;
};

//widths
.width-fit {
  display: inline;
};
.width2 {
  width: 2rem;
};
.width5 {
  width: 5rem;
};
.width7 {
  width: 7rem;
};
.width10 {
  width: 10rem;
};
.width15 {
  width: 15rem;
  max-width: 90%;
};
.width17 {
  width: 17rem;
};
.width25 {
  width: 25rem;
};
.max-width25 {
  max-width: 25rem;
};
.max-width30 {
  max-width: 30rem;
};
.max-width40 {
  max-width: 40rem;
};
.width30_percent {
  width: 30%;
};
.width50_percent {
  width: 50%;
};
.width70_percent {
  width: 70%;
};
.width95vw {
  width: 95vw;
};
.width100_percent {
  width: 100%;
};

//heights
.max-height90 {
  max-height: 90vh;
};

//flex
.unsquishable {
  flex-shrink: 0;
};
.flex-spacer {
  flex-grow: 1;
}
.flex-fill-space{
  flex: 1 0 0;
}
//text
.italic {
  font-style: italic;
};
.bold {
  font-weight: bold;
};
.break-word {
  word-wrap: break-word;
};

//mobile-landscape
@media (min-width: $ds) {
  .rem-before-ld {
    margin-left: 1rem;
  };


  //desktop
  @media (min-height: $ds) {
    .options {
      background: none;
    }
  };
};
