.button { //specify color and width

  margin: 1rem;

  padding: .3rem;

  // color: white;
  text-align: center;
  font-size: 1.3rem;

  border-radius: 1.6rem;
};
.button:hover {
  cursor: pointer;
};

.button--round { //specify color and width
  height: 1.6rem;
  width: 1.6rem;
  line-height: 1.6rem;

  // color: white;
  text-align: center;
  font-size: 1.3rem;

  border-radius: 1.6rem;
};
.button--round:hover {
  cursor: pointer;
};

.button--hover-grey:hover {
  background: darken(white, 15%);
};

.button-container {
  display: flex;
  flex-direction: column;
};

@media (min-width: $ds) {
  //desktop
  @media (min-height: $ds) {
    .button-container {
      flex-direction: row;
    };
  };
};
