.header{
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 8rem;
};
.header-modal{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: -1.6rem;
};

.size3 {
  color: $accent1;
  font-size: 3rem;
};

.size2 {
  color: $accent1;
  font-size: 2rem;
};
.size2--reverse-colors {
  background: $accent1;

  color: white;
  font-size: 2rem;
};
