.header{
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 8rem;
};
.header-modal{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: -1.6rem;
};

.header--fixed{
  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 8rem;
  width: 100vw;
};

.size3 {
  color: $accent1;
  font-size: 3rem;
};

.size2 {
  color: $accent1;
  font-size: 2rem;
};
.size2--reverse-colors {
  background: $accent1;

  color: white;
  font-size: 2rem;
};

//mobile-landscape
@media (min-width: $ds) {

  //desktop
  @media (min-height: $ds) {
    .size2 {
      font-size: 2rem;
    };
    .size2--reverse-colors {
      font-size: 2rem;
    };
  };
};
