.link {
  display: inline;
  margin: 0 .6rem;

  color: $accent1;
};
.link:hover {
  cursor: pointer;
  color: darken($accent1, 10%);
};
.link--red {
  display: inline;
  margin: 0 .6rem;

  color: red;
};
.link--red:hover {
  cursor: pointer;
  color: darken(red, 10%);
};
