.link {
  display: inline;

  color: $accent1;
};
.link:hover {
  cursor: pointer;
  color: darken($accent1, 10%);
};

.link--red {
  display: inline;

  color: red;
};
.link--red:hover {
  cursor: pointer;
  color: darken(red, 10%);
};

@media (min-width: $ds) {

  //desktop
  @media (min-height: $ds) {

  };
};
