.list {
  display: flex;
  flex-direction: column;
  margin-top: -1rem;

  background: $back1;
};
.list--color-reverse {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: $accent1;
};

.events-list {
  flex-direction: column-reverse;
  align-items: center;
};
.container {
  display: flex;
  flex-direction: column;
}
.list-item-container {
  margin: 1rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  background: white;

  border: 1px solid $accent1;
  border-radius: .6rem;
};
.modal-item-container {
  margin: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 1rem 2rem;

  background: white;

  border: 1px solid $accent1;
  border-radius: .6rem;
};
.quarter-width-box {
  position: absolute;
  top: 10rem;

  width: 25%;
  padding: 1rem;
  box-sizing: border-box;
};
.set-right {
  right: 0;
};
.set-left {
  left: 0;
};

.event-spacing {
  line-height: 1.6rem;
};
.profile-spacing {
  line-height: 2.6rem;
};
.modal-padding {
  padding: 5rem;
};
