.list {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: $back1;
};
.list--color-reverse {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: $accent1;
};

.events-list {
  flex-direction: column-reverse;
};
.container {
  display: flex;
  flex-direction: column;
}
.list-item-container {
  margin: 1rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  background: white;

  border: 1px solid $accent1;
  border-radius: .6rem;
};
.modal-item-container {
  margin: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 1rem 2rem;

  background: white;

  border: 1px solid $accent1;
  border-radius: .6rem;
};
.event-spacing {
  line-height: 1.6rem;
};
.profile-spacing {
  line-height: 2.6rem;
};

.modal-padding {
  padding: 5rem;
};
