.list {
  display: flex;
  flex-direction: column;
  margin-top: -1rem;

  width: 95vw;

  background: $back1;
};
.list--color-reverse {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: $accent1;
};

.events-list {
  flex-direction: column-reverse;
  align-items: center;
};
.container {
  display: flex;
  flex-direction: column;
}
.list-item-container {
  box-sizing: border-box;
  margin: 1rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  background: white;

  border: 1px solid $accent1;
  border-radius: .6rem;
};
%modal-item-container {
  margin: .3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .6rem .6rem 0 .6rem;

  background: white;

  border: 1px solid $accent1;
  border-radius: .6rem;
};
.modal-item-container {
  @extend %modal-item-container;
};


.quarter-width-box {
  position: absolute;
  top: 10rem;

  width: 25%;
  padding: 1rem;
  box-sizing: border-box;
};
.set-right {
  right: 0;
};
.set-left {
  left: 0;
};

.event-spacing {
  line-height: 1.6rem;
};
.profile-spacing {
  line-height: 2.6rem;
};
.modal-padding {
  padding: 1rem;
};

//mobile-landscape
@media (min-width: $ds) {
  //desktop
  @media (min-height: $ds) {
    .list {
      width: auto;
    };
    .modal-item-container {
      margin: 1rem;
      padding: 2rem 2rem 1rem 2rem;
    };
    .modal-padding {
      padding: 5rem;
    };
  };
};
