.property {
  display: flex;
  flex-direction: column;

  margin-bottom: .5rem;
};

//mobile-landscape
@media (min-width: $ds) {
  .property {
    flex-direction: row;
  };

  //desktop
  @media (min-height: $ds) {
  };
};

.title {
  color: $text1;
  font-weight: bold;
};
.distance {
  color: $text1;
  margin-bottom: 1rem;
};
.key {
  width: 10rem;
  display: flex;
  align-items: center;

  color: $text1;
  font-style: italic;
};
.key--no-width {
  line-height: 1.6rem;

  color: $text1;
  font-style: italic;
};
.value {
  width: 25rem;

  color: $text1;
};
.short-value {
  width: 15rem;

  color: $text1;
};
.value--no-width {

  color: $text1;
};
