@import '../../base-styles/Settings';

.landing__log-in-form {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
};
.landing__log-in-button{
  margin-top: .5rem;

  background: blue;
};
.landing__log-in-button:hover{
  cursor: pointer;
};
.landing__sign-up-button {
  margin-top: 2rem;

  background: green;
};
.landing__sign-up-button:hover{
  cursor: pointer;
};
