.landing__form__note{
  max-width: 20rem;
  color: grey;
  font-style: italic;
  font-size: 1rem;
  margin: 1rem;
  
};
.landing__form__property{
  margin: 0.3rem;

  display: flex;
  justify-content: center;

  font-size: 1.3rem;
};
.landing__form__key{
  line-height: 2rem;

  width: 15rem;
  font-weight: bold;
};
.landing__sign-up-form__input{
  width: 20rem;
};
