@import '../../base-styles/Hub';

.sign-up-container {
  max-height: 90vh;
};
.sign-up-container .key {
  padding-left: 1rem;
};
.sign-up-container .note {
  padding-left: 1rem;
};
.sign-up-container .note--no-margin {
  padding-left: 1rem;
};

.landing__sign-up-form {
  flex-direction: column;

  select {
    width: 90vw;
  }
};

.note--sign-up-location-message {
  margin-left: -5rem;

  max-width: 32rem;

  font-size: 1rem;
  color: grey;
  font-style: italic;
};

.landing__header {
  margin: 4rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;

  color: $accent1;
  font-size: 1.5rem;
};

.landing__first-row {
  display: flex;
  flex-direction: column;
  height: 650px;

};
.landing__first-row > div {
  justify-content: space-evenly;
};

//mobile-landscape
@media (min-width: $ds) {
  .landing__header {
    font-size: 2rem;
  };

  .landing__sign-up-form select {
    width: 17rem;
  };

  .sign-up-container .key {
    padding-left: none;
    width: 30%;
  };
  .sign-up-container .note {
    padding-left: none;
  };
  .sign-up-container .note--no-margin {
    padding-left: none;
  };

  //desktop
  @media (min-height: $ds) {
    .landing__sign-up-form {
      select {
        width: 17rem;
      }
    };

    .sign-up-container .key {
      width: 10rem;
    };

    .landing__first-row {
      flex-direction: row;
      height: auto;
    };

    .landing__header {
      margin: 0;
    };

  };
};
