$map-width: 30vw;
$map-height: 70vh;

.map-container {
  margin: 1rem 0 1rem 1rem;

  width: $map-width;
  height: $map-height;

  div {
    max-width: $map-width;
    max-height: $map-height;
    margin-bottom: 1rem;
  };
};
.map-height {
  height: $map-height;
};
.map-note {
  padding-top: 1rem;
  max-width: $map-width * 1.5;

  font-size: 1rem;
  color: grey;
  font-style: italic;
}
