@import '../../base-styles/Settings';

.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
};

.header--events{
  position: fixed;
  top: 2rem;
  left: 0; right: 0;
  width: 100%;

  text-align: center;

  background: $back1;

  color: $accent1;
  font-size: 3rem;
  padding: 4rem 0 2rem 0;
};


.events-box {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 10rem;
};
.events__left-box {
  display: flex;
  flex-direction: column;

  width: 50%;
  left: 0;
  position: fixed;
  border-radius: 0 .6rem 0 0;
};
.events__left-box--placeholder {
  display: flex;
  flex-direction: column;

  width: 50%;
};

.events__left-box__background {
  position: fixed;

  flex-grow: 1;
  height: 100%;
  width: 50%;

  border-radius: 0 .6rem 0 0;
  background: $accent1;
};
.events__right-box {
  width: 50%;
};
