@import '../../base-styles/Hub';

.distance-filter-layout-pl {
  @extend %row;
  background: white;
  border-radius: .6rem;
  padding: 1rem .3rem 0 .3rem;

  justify-content: center;
  flex-wrap: wrap;
};

.searchPreferences {
  width: 100%;
  margin: 0 1.3rem;
}

//mobile-landscape
@media (min-width: $ds) {

  //desktop
  @media (min-height: $ds) {

  };
};
